.button {
  background-color: var(--color-primary);
  color: var(--white);
  border-radius: 5px;
  height: 28px;
  width: 70px;
  border: none;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 13px;
  font-size: 11px;
}
.button:hover {
  background-color: var(--color-primary-50);
}
