.total {
  border-top: solid 2px var(--grey-20);
  height: 15vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: var(--grey-0);
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.total-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.total-p {
  color: var(--black);
}
.value {
  font-weight: 600;
}
.total-btn {
  width: 80%;
  background-color: var(--grey-20);
  color: var(--grey-50);
  height: 35px;
  margin-bottom: 5px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}
.total-btn:hover {
  background-color: var(--grey-50);
  color: var(--white);
}
